.F{
    text-align: center;
}

.main{
    background-color: green;
}

#white{
    color: white;
}

#f{
    color: white;
}

#l{
    color: white;
}

#h{
    color: white;
}

#r{
    color: white;
}

#g{
    color: white;
}

.grey{
    background-color: grey;
}

.M{
    text-align: center;
}

.b{
    background-color: black;
}